@page "/movie"
<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies"/>
</div>
<button @onclick="AddNewMovie" >Add new movie</button>

@code {
    List<MovieModel> movies;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        movies = new List<MovieModel>()
        {
            new MovieModel(){Name = "Spider-Man: Far From Home", Release = new DateTime(2019, 7, 2)},
            new MovieModel(){Name = "Moana", Release = new DateTime(2016, 11, 23)},
            new MovieModel(){Name = "Inception", Release = new DateTime(2010, 7, 16)}
        };
    }
    private void AddNewMovie()
    {
        movies.Add(new MovieModel() { Name = "Titanic", Release = DateTime.Today });
    }
}
